* {
    margin: 0;
    padding: 0;
}

body::before {
    content: '';
    position: absolute;
    background-color: yellow;
    width: 20rem;
    height: 10rem;
}

body::after {
    content: '';
    position: absolute;
    background-color: black;
    width: 10rem;
    height: 10rem;
    bottom: 27rem;
    right: 76rem;
}