* {
    margin: 0;
    padding: 0;
}
div {
    position: relative;
    width: 10rem;
}
body::before {
content:'';
position: absolute;
background-color: yellow;
width: 20rem;
height: 5rem;
 }
body::after {
    content:'';
    position: absolute;
    background-color: black;
    width: 10rem;
    height: 5rem;
    bottom: 37rem;

}